# This workflow will install Python dependencies, run tests,
#   and report test results and code coverage as artifacts. It will
#   be called by the workflow that runs tests against new PRs and as
#   a first step in the workflow that publishes new Docker images.

name: A reusable workflow to build and run the unit test suite

on:
  workflow_call:
    secrets:
      codecov_token:
        required: true
      EARTHDATA_USERNAME:
        description: 'NASA Earthdata username'
        required: true
      EARTHDATA_PASSWORD:
        description: 'NASA Earthdata password'
        required: true
  workflow_dispatch:

env:
  POETRY_VERSION: "2.1.3"

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.11', '3.12', '3.13', '3.14' ]

    name: Python ${{ matrix.python-version }} tests
    steps:
      - uses: actions/checkout@v5
        with:
          lfs: 'true'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Set up Poetry
        uses: abatilo/actions-poetry@v4.0.0
        with:
          poetry-version: ${{ env.POETRY_VERSION }}

      - name: Install ncompare
        run: poetry install

      - name: Lint
        run: |
          poetry run ruff check ncompare

      - name: Run unit tests with coverage
        run: |
          poetry run pytest -v -m "not integration" --cov=ncompare --cov-report=xml:build/reports/coverage${{ matrix.python-version }}.xml

      - name: Run integration tests with coverage
        env:
          EARTHDATA_USERNAME: ${{ secrets.EARTHDATA_USERNAME }}
          EARTHDATA_PASSWORD: ${{ secrets.EARTHDATA_PASSWORD }}
        run: |
          poetry run pytest -v -m integration --cov=ncompare --cov-report=xml:build/reports/coverage${{ matrix.python-version }}.xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          verbose: true
